*,
*::before,
*::after {
    box-sizing: border-box;
}
.readmain1{
    right: 0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 1000;
    overflow: auto;
    top:0;
    background-color: #1E1E1E;
    max-height: 100vh;
}


.readmain{

    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F8F9FA;
    padding: 20px;
    overflow: auto;
    max-height: 100%;
    margin-top: 20px;

}
.readimagediv{
    margin: 10px;
    height: 400px;
}

.readimage{
    margin: 10px;

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.readtitle{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}
.readdescription{
    font-size: 20px;
    font-weight: bold;
    color: #3E9BCD;
    font-family: monospace;
}

.readbody{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    color: #333333;
    overflow-y: auto;
    text-wrap: wrap;

}

.readbutton{
    background-color: #007BFF;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.readbutton:hover{
    box-shadow: 2px 2px black;
}

@media screen and (max-width:600px ) {
    .readmain{
        width: 95%;
    }
  
    
}